<form [ngFormModel]="form" (ngSubmit)="changePassword()">
  <div class="form-group" [ngClass]="{'has-error': oldPassword.touched && !oldPassword.valid}">
    <label for="oldPassword" class="control-label">Current Password</label>
    <input
      id="oldPassword"
      type="password"
      class="form-control"
      ngControl="oldPassword"
      #oldPassword="ngForm">
    <div *ngIf="oldPassword.touched && oldPassword.errors">
      <span *ngIf="oldPassword.errors.required" class="help-block">
        Old password is required.
      </span>
      <span *ngIf="oldPassword.errors.validOldPassword" class="help-block">
        Old password is incorrect.
      </span>
    </div>
  </div>
  <div class="form-group" [ngClass]="{'has-error': newPassword.touched && !newPassword.valid}">
    <label for="newPassword" class="control-label">New Password</label>
    <input
      id="newPassword"
      type="password"
      class="form-control"
      ngControl="newPassword"
      #newPassword="ngForm">
    <div *ngIf="newPassword.touched && newPassword.errors">
      <span *ngIf="newPassword.errors.required" class="help-block">
        New password is required.
        </span>
      <span *ngIf="newPassword.errors.complexPassword" class="help-block">
        New password should be minimum {{ newPassword.errors.complexPassword.minLength }} characters.
        </span>
    </div>
  </div>
  <div class="form-group" [ngClass]="{'has-error': confirmPassword.touched && !confirmPassword.valid}">
    <label for="confirmPassword" class="control-label">Confirm Password</label>
    <input
      id="confirmPassword"
      type="password"
      class="form-control"
      ngControl="confirmPassword"
      #confirmPassword="ngForm">
    <span *ngIf="confirmPassword.touched && !confirmPassword.valid" class="help-block">
      Confirm the password.
    </span>
    <!--
            Note that here I'm checking for form.errors.passwordShouldMatch
            because this validation is applied at the form itself.
         -->
    <span *ngIf="confirmPassword.touched && form.errors && form.errors.passwordsShouldMatch" class="help-block">
      Passwords don't match.
    </span>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Change Password</button>
</form>
