<form #f="ngForm" (ngSubmit)="onSubscribe(f.form)">
  <div class="form-group" [ngClass]="{'has-error': name.touched && !name.valid}">
    <label for="name" class="control-label">Name</label>
    <input
      type="text"
      id="name"
      class="form-control"
      ngControl="name"
      #name="ngForm"
      required minlength="3">
    <div *ngIf="name.touched && name.errors">
      <span class="help-block" *ngIf="name.touched && name.errors.required">
        Name is required!
      </span>
      <span class="help-block" *ngIf="name.touched && name.errors.minlength">
        Name should be minimum {{name.errors.minlength.requiredLength}} characters!
      </span>
    </div>
  </div>
  <div class="form-group" [ngClass]="{'has-error': email.touched && !email.valid}">
    <label for="email" class="control-label">Email</label>
    <input
      type="email"
      id="email"
      class="form-control"
      ngControl="email"
      #email="ngForm"
      required>
    <span class="help-block" *ngIf="email.touched && !email.valid">
      Email is required!
    </span>
  </div>
  <div class="form-group" [ngClass]="{'has-error': frequency.touched && !frequency.valid}">
    <label for="frequency" class="control-label">Frequency of emails</label>
    <select
      id="frequency"
      name="frequency"
      class="form-control"
      ngControl="frequency"
      #frequency="ngForm"
      required>
      <option value=""></option>
      <option *ngFor="#frequency of frequencies" value="{{ frequency.id }}">
        {{ frequency.label }}
      </option>
    </select>
    <span class="help-block" *ngIf="frequency.touched && !frequency.valid">
      Frequency is required!
    </span>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Subscribe</button>
</form>
